@import './default.scss';

#result{
    @include border-radius;
    display: none;
    background-color: whitesmoke;
    text-align: center;

    .resultName{
        font-size: 2.7em;
    }
    
    .resultDesc{
        font-size: 2em;
    }
    
    /* .kakao {
    } */
}

